/*GENERAL begin*/

body {    
    padding:0;
    margin:0;
    background-color:#ffffff;
    font-size:14px;
    font-family: 'Roboto', sans-serif;
}

@font-face {
  font-family: 'Gilroy Light';
  src:   
    url("font/Gilroy-Light.otf") format("otf");
  font-weight: normal;
  font-style: normal;
}

.clearfix {
    content: "";
    display: table;
    clear: both;
}

.center {
    width: 1140px; /*ширина макета по крайним направляющим*/
    padding: 0 10px; /*центровка содержимого браузера*/
    margin:0 auto;
}

img {
    display: inline-block;
    width: 100%;
}

h1 {
    font-size:68px;
    line-height: 80px;
    width:350px;
    float:left;
    margin-left:13%;
    margin-right: 2%;   
    color: #fff;  
    text-shadow: 0 1px 0 #ccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaa, 0 6px 1px rgba(0,0,0,.1), 0 0 5px rgba(0,0,0,.1), 0 1px 3px rgba(0,0,0,.3), 0 3px 5px rgba(0,0,0,.2), 0 5px 10px rgba(0,0,0,.25), 0 10px 10px rgba(0,0,0,.2), 0 20px 20px rgba(0,0,0,.15);
}

h2 {
    font-size: 44px;
}

h3 {
    font-family: 'Gilroy Light', 'Arial', sans-serif;
    font-size: 22px;
    font-weight: 700;
    line-height: 24px;
}

.btn {
    width: 187px;
    height: 55px;
    background:  linear-gradient(45deg, #5e28d7, #9437f3);
    border-radius: 30px;
    color:#ffffff;
}

.btn:hover,
.btn-tel:hover
{
    -webkit-animation: swing 1s ease;
        animation: swing 1s ease;
        -webkit-animation-iteration-count: 1;
        animation-iteration-count: 1;
}

/*GENERAL end*/

/*BLOCK-1 begin*/

.block-1 {
    background:  linear-gradient(-45deg, #5e28d7, #9437f3);
    color:white;
    width: 100%;
    margin:0 auto;
}

.block-1 .name {   
    font-size:16px;
    width:80px;
    float:left;
    margin-left:13%;
    margin-top:5%;
}

.block-1 .tel {
    width:200px;
    float:left;    
    margin-left:46%;
    margin-top:5%;
    font-size:18px;
    font-weight: 900;
}

.block-1 .btn-tel {
    width:100px;
    float:right;       
    display: block;    
    width: 50px;
    height: 20px;
    font-size:13px;   
    text-decoration: none; 
    margin-top: 50px;
    margin-right: 70px;
    background-color: white;
    color:darkviolet;
    padding: 10px 20px 3px;
    font-size:12px;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;  
    border-radius: 50px 0 0 50px;
   }


.block-1 .img-1 img {
    width:50%;
    max-width: 100%;  
    float:right;
    padding-bottom:8%;
}


.block-1 .promo-1-1 {
    float: left;
    min-width: 140px;
    font-size: 0.8em;
    letter-spacing: 0.03em;       
    margin-left:150px;
    margin-top:-80px;    
}

.block-1 .promo-1-2 {   
    float: left;
    width:80px;   
    font-size: 28px;
    font-weight: 400;
    word-wrap: break-word;
    letter-spacing: 5px;
    line-height: 28px;
    margin-top:-175px;    
    margin-left:480px;        
}

.block-1 .promo-1-2::after {
    position: absolute;
    content:"";
    width: 35px;
    height: 25px;
    border-bottom: 1px solid white;
    bottom:11px;
    left:25px;
}

.block-1 .video {    
    float: left;
    width:300px;    
    font-size: 14px;
    font-weight: 400;    
    letter-spacing: 2px;
    line-height: 25px;
    margin-top:-85px;    
    margin-left:830px;
}

.video a {
    display: block;
    color:white;
    text-decoration: none;
}

.video a:hover {
    color:white;
    text-decoration: none;
    transform:skewX(-25deg);
    transition: 0.35s ease;
}


/*BLOCK-1 end*/

/*BLOCK-2 begin*/
.block-2 {    
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin: 0 13%;
}

.block-2 .img-2 {
    min-width: 450px;
    margin-top: 130px 
}

.block-2 .catalog {
    width: 380px;   
    margin-left:10%;  
    margin-top: 120px 
}

.block-2 .catalog label {
    display: block;
    font-size: 14px;
    color:#9f9f9f;
}

.block-2 .catalog input,
.block-2 .catalog input:focus {
  /*стилизация полей формы*/
    width: 220px;    
    font-family: 'Gilroy Light', 'Arial', sans-serif;
    font-size:20px;
    font-weight: 700;    
    color:black;
    border:none;
    border-bottom: 1px solid #9f9f9f;  
    padding: 10px;
    margin-bottom: 25px;        
}

.block-2 .btn-catalog {
    color:white;
    margin-top:20px;
    font-weight: 700;  
    line-height: 20px;
    border: 0;
}


/*BLOCK-2 end*/

/*BLOCK-3 begin*/

.block-3 {
    width: 100%;  
    min-height: 800px;
    background-color: #f7f5fb;
    position: relative;
  
}

.block-3 .promo-3-1 {  
    position: absolute;
    top:50px;
    left:90px;
    width: 250px;
    margin-left:13%;
}

.block-3 .promo-3-1 a {   
    font-size: 14px;
    color:black;
    text-decoration: none;
    padding-bottom: 5px;
    margin-left:0px;
    border-bottom:1px solid black;
}

.block-3 .promo-3-2 {
    position: absolute;
    top:330px;    
    left:20px;
    background-color: white;
    width: 200px;
    padding: 30px 40px 60px 60px;
    box-shadow: 0 0 180px 50px rgba(109,66,161,0.22);
    margin-left:13%;
     z-index:2;
}

.block-3 .promo-3-2 p {
    margin-bottom: 30px; 
    letter-spacing: 0.5px;
    line-height: 24px;
}

.block-3 .promo-3-2 .btn-more {      
    padding: 10px 20px 10px 25px;
    width: 50px;
    font-size:15px;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 3px;
}

.block-3 .btn-more:hover {
box-shadow: 0 0 0 10px rgba(109,66,161,0.4);
    transition: 0.4s ease;
}

.block-3 .bed {
    position: relative;
    float:right;
    width: 70%;
    margin-top:80px;    
    z-index:1;
}

.block-3 .btn-details a {
    position: absolute;   
    z-index:5;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: darkviolet;     
}

.btn-details a::before {
    position: absolute;
    content: "+";    
    color:white;
    font-size:17px;
    top:5px;
    left:10px;
}

.block-3 .btn-details a:hover {
    box-shadow: 0 0 0 10px rgba(109,66,161,0.4);
    transition: 0.4s ease;
}

.btn-details-1 a {
    top:22%;
    left:67%;
}

.btn-details-2 a {
    top:42%;
    left:55%;
}


.btn-details-3 a {
    top:27%;
    left:44%;
}

.btn-details-4 a {
    top:28%;
    left:84%;
}


.btn-details-5 a {
    top:58%;
    left:30%;
}
/*BLOCK-3 end*/

/*BLOCK-4 begin*/
.block-4 {
    background:  linear-gradient(-40deg, #6d2cea, #a354f4);
    color:white;
    width: 100%;
    margin:0 auto;
    display: flex;
    padding: 160px 0;
    
}

.block-4 .left { /*белый фон задается тень через .left::after */ 
    content: "";
    width: 24%;
    height: 570px;
   
    margin-left: 13%;
    position: relative; 
    overflow: hidden;
}

.block-4 .left::after {   /*наложение тени для вырезания прозрачного отверстия в блоке*/ 
    content: "";
    position: absolute; 
    bottom:-150px;
    left:210px;
    width: 60%;
    height: 260px;
    transform: translate(-50%, -50%);
    box-shadow: 0px 0px 0px 1000px white;
}

.block-4 .promo-1-2 {
    position: absolute;
    bottom:0;
    right:0;
    width: 35%;
    height: 200px;     
    font-size: 30px;
    font-weight: 400;
    word-wrap: break-word;
    letter-spacing: 8px;
    line-height: 32px;
    padding: 50px 10px 0 40px;
}

.block-4 .promo-1-2::after {
    position: absolute;
    content:"";
    width: 40px;
    height: 25px;
    border-bottom: 1px solid white;
    bottom:85px;
    left:75px;
}

.block-4 .middle {
    position: relative;
    width: 27%;
    height: 570px;    
    margin-left: 8%;
    margin-right: 3%;
    color:white;
    margin-top:-50px;
}

.block-4 .middle h1 {
    margin-left:0;
    padding-bottom:40px;
}

.block-4 .middle p {
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
}

.block-4 .middle .btn-next {    
    width:220px;
    height: 64px;
    position: absolute;
    top:425px;
    left:330px;
    background: url("img/btn-next.png") no-repeat;   
    position: absolute;
}

.block-4 .right {
    width: 13%;
    height: 570px;
    background-color: #c49af8;
    margin-left: 13%;
    z-index:2;
}
/*BLOCK-4 end*/

/*BLOCK-5 begin*/
.block-5 {
    width: 100%;
    position: relative;
    }

.block-5 .item {
    overflow: hidden;
}


.block-5 .item img:hover {
    opacity: 0.6;
    transition: 0.3s ease;
    transform:scale(1.2);    
}

.block-5 .item-1 {
    position: relative;
    width: 66%;
    height: 400px;
    float:left;      
}

.block-5 .item-1 img {
    width: 40%;
    position: relative;   
    top:100px;
    left:55%;
}

.block-5 .item-1 .item-1-describe {
    position: absolute;
    width: 25%;
    top:75px;
    left:15%;
}

.block-5 .item-1 a {   
    font-size: 14px;
    color:black;
    text-decoration: none;
    padding-bottom: 5px;
    margin-left:0px;
    border-bottom:1px solid black;
}

.block-5 .item-2 {
    position: relative;
    width: 34%;    
    float:left;
    z-index: 2;
    margin-top: -55px;   
}

.block-5 .item-2 img:hover {
    transform: none;
    opacity: 1;    
}

.block-5 .item-2 p {
    font-size: 12px;
    font-weight: 900;
    color:#803bed;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 30px;
}


.block-5 .item-2 .item-2-describe {
    position: absolute;
    top:500px;
    left:100px;
}

.block-5 .item-2 .item-2-describe span { 
    font-size: 44px;    
    font-weight: 700;
}

.block-5 .item-2 .btn-cart {
    position: absolute;
    left: 100px;
    top: 170px;
    overflow: hidden;
}

.block-5 .item-2 .btn-cart:hover {   
        -webkit-animation: swing 1s ease;
        animation: swing 1s ease;
        -webkit-animation-iteration-count: 1;
        animation-iteration-count: 1;
}

.block-5 .item-3 {
    min-height: 740px;
    width: 37%;
    float:left;   
    margin-top:-400px;
}

.block-5 .item-4 {
    width: 33%;
    float:left;  
    margin-top:-400px;
}

.block-5 .item-5 { 
    position: absolute;
    width: 30%;   
    max-height: 348px;
    top:737px;
    right:0;
    overflow: hidden;
}

.block-5 .item-6 {   
    position: absolute;
    width: 33%;
    max-height: 348px;
    top:737px;
    right: 30%;
    overflow: hidden;
    
}
/*BLOCK-5 end*/

/*BLOCK-6 begin*/
.block-6 {
    width: 100%;
    position: relative; 
   }

.block-6 .map {
    width: 500px;
    height: 300px;    
    float:left;
    margin-left: 14%;
    margin-right: 10%;
    margin-bottom: 150px;
    margin-top:95px;
    box-shadow: 0 0 150px 40px rgba(109,66,161,0.22);
    z-index: 1;
      -webkit-filter: grayscale(100%);
      -moz-filter: grayscale(100%);
      -ms-filter: grayscale(100%);
      -o-filter: grayscale(100%);
      filter: grayscale(100%);
      filter: gray; /* IE 6-9 */
}


.block-6 .address {
    font-family: 'Gilroy Light', 'Arial', sans-serif;
    font-weight: 700;
    letter-spacing: -0.5px;
    width: 20%;
    height: 300px;   
    float:left;
    margin-bottom: 150px;
    margin-top:110px;    
}

.block-6 .address-icon {    
    width: 30px;
    height: 30px;  
    background: url("img/marher.png") no-repeat;
}

.block-6 p {
    font-size: 15px;
    line-height: 5px;
    }

.block-6 span {
    font-size: 12px;
    color:#9f9f9f;
}

.block-6 .address .btn-driving {
    display: block;
    padding: 12px 15px 10px 20px;
    width: 100px;
    height: 20px;
    font-size:13px;   
    text-decoration: none; 
    margin-top: 40px;
   }

.block-6 .copyright {
    width: 100%;
    height: 90px;
    background-color: #f8f6fb;
    text-align: center;
    color:#d0c9dc;
    font-size: 22px;
    font-weight: 700;
    padding-top: 70px;
}

.block-6 .ellips {
    z-index: 2;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 20%;
    height: 320px;
    background: url("img/ellips.png") no-repeat;
}

.block-6 .ring-big {
    z-index: 2;
    position: absolute;
    bottom: 240px;
    left: 0;
    width: 20%;
    height: 320px;
    background: url("img/ring-big.png") no-repeat;
}

.block-6 .ring-small {
    z-index: 2;
    position: absolute;
    top:40px;
    right: 80px;
    width: 10%;
    height: 320px;
    background: url("img/ring-small.png") no-repeat;
}

/*BLOCK-6 end*/

/*ANIMATIONS begin*/
@-webkit-keyframes swing
{
    15%    {
        -webkit-transform: translateX(5px);
        transform: translateX(5px);    }
    30%    {
        -webkit-transform: translateX(-5px);
       transform: translateX(-5px);    } 
    50%    {
        -webkit-transform: translateX(3px);
        transform: translateX(3px);   }
    65%    {
        -webkit-transform: translateX(-3px);
        transform: translateX(-3px);    }
    80%    {
        -webkit-transform: translateX(2px);
        transform: translateX(2px);    }
    100%    {
        -webkit-transform: translateX(0);
        transform: translateX(0);    }
}

@keyframes swing {
    15%    {
        -webkit-transform: translateX(5px);
        transform: translateX(5px);    }
    30%    {
        -webkit-transform: translateX(-5px);
        transform: translateX(-5px);    }
    50%    {
        -webkit-transform: translateX(3px);
        transform: translateX(3px);    }
    65%    {
        -webkit-transform: translateX(-3px);
        transform: translateX(-3px);    }
    80%    {
        -webkit-transform: translateX(2px);
        transform: translateX(2px);    }
    100%    {
        -webkit-transform: translateX(0);
        transform: translateX(0);    }
}

.fall-1  {
    position: relative;   
    -webkit-animation: fall-1 0.2s 0.3s ease-in-out;
	-moz-animation: fall-1 0.2s 0.3s ease-in-out;
	-o-animation: fall-1 0.2s 0.3s ease-in-out;
    animation: fall-1 0.2s 0.3s ease-in-out;   
	}

 @-webkit-keyframes fall-1 {
    0%{top:-200px} 
    80%{top:30px}
    100%{top: 0px}
}

@-moz-keyframes fall-1
{
    0%{top:-200px} 
    80%{top:30px}
    100%{top: 0px}
}

@-o-keyframes fall-1
{
    0%{top:-200px} 
    80%{top:30px}
    100%{top: 0px}
}

@keyframes fall-1
{
    0%{top:-200px} 
    80%{top:30px}
    100%{top: 0px}
}


.swipe-left {
     position: relative;    
    display: block;     
    -webkit-animation: swipe-left 0.1s ease-in-out;
	-moz-animation: swipe-left 0.1s ease-in-out;
	-o-animation: swipe-left 0.1s ease-in-out;
    animation: swipe-left 0.531s ease-in-out;   
}

 @-webkit-keyframes swipe-left { 
    0%{left:100px}       
    80%{left: -50px}
    100%{left: 0px}
}

@-moz-keyframes swipe-left {
    0%{left:100px}       
    80%{left: -50px}
    100%{left: 0px}
}
@-o-keyframes swipe {
    0%{left:100px}       
    80%{left: -50px}
    100%{left: 0px}
}
 
@keyframes swipe-left {
    0%{left:100px}       
    80%{left: -50px}
    100%{left: 0px}
}

.fall-2 {
     position: relative;    
     display: block;     
    -webkit-animation: fall-2 0.3s 0.2s ease-in-out;
	-moz-animation: fall-2 0.3s 0.2s ease-in-out;
	-o-animation: fall-2 0.3s 0.2s ease-in-out;
    animation: fall-2 0.3s 0.2s ease-in-out;   
}

 @-webkit-keyframes fall-2 { 
      15%    {
        -webkit-transform: translateY(100px);
        transform: translateY(100px);    }   
    65%    {
        -webkit-transform: translateY(-30px);
        transform: translateY(-30px);    }   
    100%    {
        -webkit-transform: translateY(0);
        transform: translateY(0);    }
}

@keyframes fall-2 { 
      15%    {
        -webkit-transform: translateY(100px);
        transform: translateY(100px);    }   
    65%    {
        -webkit-transform: translateY(-30px);
        transform: translateY(-30px);    }   
    100%    {
        -webkit-transform: translateY(0);
        transform: translateY(0);    }
}
/*ANIMATIONS end*/